/* Default height */
.space-200 {
    height: 120px !important;
}

/* Small devices (max-width: 576px) */
@media (max-width: 576px) {
    .space-200 {
        height: 80px !important;
    }
}

/* Medium devices (max-width: 768px) */
@media (max-width: 768px) {
    .space-200 {
        height: 100px !important;
    }
}

/* Large devices (max-width: 992px) */
@media (max-width: 992px) {
    .space-200 {
        height: 110px !important;
    }
}

/* Extra large devices (max-width: 1200px) */
@media (max-width: 1200px) {
    .space-200 {
        height: 120px !important;
    }
}
